@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

img { max-width: 100%;}
ul{ list-style: none;}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  position: fixed;
  top: 0;
  left: -100vw;
  width: 70%;
  height: 100%;
 transition: all 0.3s ease-in-out;
}

nav.open {
  top: 0;
  left: 0;
  background-color: #fff;
  @apply shadow-2xl p-8 lg:shadow-none lg:p-0;
  z-index: 120;
}

nav ul {
  @apply flex items-start flex-col gap-4 lg:flex-row;
  padding-top: 60px;
}

nav ul li{
  @apply flex items-center gap-4;
}

nav ul li {
  @apply font-bold text-lg cursor-pointer lg:font-normal lg:text-base;
}

.close {
  @apply absolute top-8 left-8 w-5;
  z-index: 9999;
  transition-delay: 0.3s;
}


/* ====================== MEDIA QUERY ================= */
@media screen and (min-width: 1024px) {
  .big-image {height: 600px;}

  nav {
    position: relative;
    left: 0;
    width: auto;
    z-index: auto;
    height: auto;
  }

  nav.open {
    background-color: transparent;
  }

  nav ul {
    padding-top: 0;
  }

}